.left{
    width: 25vw;
    }
    .right{
    width: 75vw;
    }
    .border-red{
        border: 2px solid red;
        margin: 2px;
    }
    .flex{
        display: flex;
    }
    .justify-center{
        justify-content: center;
    }
    .item-center{
        align-items: center;
    }
    