.container{
  
}
.Video-1 video{
    width:  400px;
    padding: 12px 10px;

}
.Video-2 video
{
    width: 400px;
    padding: 12px 10px;

}
.Video-3 video
{
    width: 400px;
    padding: 12px 10px;

}