*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: tomato;
    color: black;
}
h1{
    font-size: 3rem;
 text-align: center;
 margin: 5%;
 line-height: 4rem; 
 text-shadow: 2px 2px white;
}
h2{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 3rem; 
    text-shadow: 2px 2px white  
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col input{
    width: fit-content;
    display: inline;
    
}
